.menu {
  display: flex;
  flex-flow: column;
  position: relative;
  padding: 1em;
  text-align: center;
  border: .25em dashed rgba(0, 90, 151, .5);
  border-radius: 1em;
  max-width: 90%;
}

.menu::before {
  border-radius: 1em;
  background: red;
  z-index: -1;
  position: absolute;
  top: -.5em;
  right: -.5em;
  bottom: -.5em;
  left: -.5em;
  content: "";
  background: linear-gradient(to bottom, #55d2ff 0%, #018abd 43%, #018abd 100%);
  box-shadow: 0 -.25em .5em -.25em #000 inset, 0 .5em .25em -.25em #FFF inset;
}
/*:after{
background: #025F88;
}*/