/*http://codepen.io/joshnh/pen/IchEz*/

body {
    font-size: 100%;
    padding: 0;
    margin: 0;
    font: normal 16px/normal "Passero One", Helvetica, sans-serif;
}

header{
    display:flex;

}
header .moves {
    font-size: 2em;
    flex-direction: row;
    background: red;
    border-radius: 0 2em 2em 0;
    padding: 0 2em 0 .5em;
    height: 1em;
    border: .25em solid black;
    border-left: none;
    border-right: none;
    position: relative;
}
header .moves .count{
    display:flex;
    justify-content:center;
    align-items:center;

    position: absolute;
    right: 0;
    color:white;
    top: -.25em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    outline: none;
    border:none;
    background: #a4d9a6;
    box-shadow: 0 0 2px #888888 inset, .1em .1em 0 #a4d9a6 inset, .2em .2em .25em white inset, -1px -1px .25em black inset, 3px 2px 2px #888888 ;

}


.wrapper {
    position: relative;
    overflow: hidden;
}
